common: &common
  adapter: mysql2
  encoding: utf8
  reconnect: false
  pool: 5
  host: localhost
  username: root
  password: 123456

development:
  <<: *common
  database: mms_development

test:
  <<: *common
  database: mms_test

staging:
  <<: *common
  database: mms_staging

production:
  <<: *common
  database: mms